<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Results</title>
    <link rel="icon" href="cyprus-accolada.svg" sizes="any" type="image/svg+xml">
</head>

<body>
<h1>Scores of Cyprus Choir Club:<img src="cyprus-accolada.svg" alt="Cyprus Accolada" width="100px"/></h1>
<ul>
    {% for item in items %}
        <li>
            <a href="{{ item.name }}">{{ item.display_name }}</a>
            <ul>
                {% for file in item.files %}
                    <li>
                        <a href="{{ file.name }}">{{ file.display_name }}</a>
                        {% if file.isMidi %}
                            <form action="midiplayer/midiplayer.html">
                                <input type="hidden" name="midiFile" value="{{ file.name }}"/>
                                <input type="hidden" name="room" value="default"/>
                                <input type="submit" value="Play"/>
                            </form>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>
</body>
</html>
