<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Scores</title>
    <link rel="icon" href="cyprus-accolada.svg" sizes="any" type="image/svg+xml">
</head>

<body>
<h1>Scores of Cyprus Choir Club:<img src="cyprus-accolada.svg" alt="Cyprus Accolada" width="100px"/></h1>
<ul>
    {% for item in items %}
        <li>
            <a href="{{ item.name }}.html">{{ item.display_name }}</a>
            <ul>
                {% for file in item.files %}
                    <li>
                        {% if file.isMidi %}
                        {{ file.display_name }}
                        (<a href="{{ file.name }}">Download</a>)
                        (<a href="midiplayer/midiplayer.html?midiFile={{ file.name }}&room=default">Play online</a>)
                        {% else %}
                          <a href="{{ file.name }}">{{ file.display_name }}</a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
</ul>

<p><a href="https://www.videolan.org/vlc/">VLC</a> player is recommended for playing midi files.</p>

</body>
</html>
